<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sajhaspace-001-site1.btempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://sajhaspace-001-site1.btempurl.com:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>sajhaspace-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\sajhaspace-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SkillsBook.Models.Models.SiteContext" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5005.myASP.NET;Initial Catalog=DB_9FFD81_sajhaspace;User ID=DB_9FFD81_sajhaspace_admin;Password=saraswati77" Name="Data Source=SQL5005.myASP.NET;Initial Catalog=DB_9FFD81_sajhaspace;User Id=DB_9FFD81_sajhaspace_admin;Password=saraswati77" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SkillsBook.Models.Models.SiteContext, SkillsBook.Models" MigrationConfiguration="SkillsBook.Models.Migrations.Configuration, SkillsBook.Models" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SkillsBook.Models.Models.SiteContext-Web.config Connection String">
      <ParameterValue>Data Source=SQL5005.myASP.NET;Initial Catalog=DB_9FFD81_sajhaspace;User Id=DB_9FFD81_sajhaspace_admin;Password=saraswati77</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="SkillsBook.Models.Models.SiteContext" />
  </ItemGroup>
</Project>