<!-- FOOTER -->
<style>
    .fc {
        color: #ffffff;
    }

    .fs {
        font-size: large;
    }

    .fl {
        font-size: x-large;
    }

    .fm {
        font-size: medium;
    }
</style>
<footer class="footer" style="background-color: #4288dd">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="col">
                    <h2 class="fc">Penny Stock News</h2>
                    <ul>
                        <li><span class="fc fs">http://www.gufgaaf.com</span></li>
                        <li><span class="fc fs">Phone: +1-315-879-2505 </span></li>
                        <li><span class="fc fs">Email: admin@gufgaaf.com</span></li>
                        <li><span class="fc fs">Reach us/Feedback: <a href="http://www.gufgaaf.com/Account/Feedback" title="Email Us">Feedback</a></span></li>
                        <li><span class="fc fs">Uniting communities...</span></li>
                    </ul>
                </div>
            </div>


            <div class="col-md-3">
                <div class="col">
                    <h4>Terms and Conditions</h4>
                    <p>No voilent language, no pornography. Our site doesn't hold any responsibility for any of the content submitted by the user.</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="col">
                    <h4></h4>
                    <p class="no-margin">

                    </p>
                </div>
            </div>



        </div>


    </div>
</footer>