<!-- FOOTER -->
<style>
    .fc {
        color: #ffffff
    }
    .fs {
        font-size: large
    }
    .fl {
        font-size: x-large;
    }
    .fm {
        font-size: medium;
    }
</style>
<footer class="footer" style="background-color: #4288dd">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="col">
                    <h2 class="fc">Contact us</h2>
                    <ul>
                        <li><span class="fc fs">Aseem Shrestha</span></li>
                        <li><span class="fc fs">Phone: +1-315-879-2505 </span></li>
                        <li><span class="fc fs">Email: <a href="mailto:shrestha.asm@gmail.com" title="Email Us">shrestha.asm@gmail.com</a></span></li>
                        <li><span class="fc fs">Uniting communities...</span></li>
                    </ul>
                </div>
            </div>


            <div class="col-md-3">
                <div class="col">
                    <h4>Terms and Conditions</h4>
                    <p>No voilent language, no pornography. Our site doesn't hold any responsibility for any of the content submitted by the user.</p>
                    
                </div>
            </div>
            <!--
                <div class="col-md-3">
                    <div class="col col-social-icons">
                        <h4>Follow us</h4>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-skype"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-flickr"></i></a>
                    </div>
                </div>
                -->
        </div>
    </div>
</footer>