@{
    ViewBag.Title = "NotFound";
}

<section class="slice bg-base" style="padding:90px 0;">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h2>The page could not be found</h2>
                        <h1 class="font-xl">
                            4<i class="fa fa-times-circle-o"></i>4
                        </h1>
                        <p>
                           Page you are trying to access is not available. Please check your url and try again.
                        </p>
                        <span class="clearfix"></span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice bg-3">
    <div class="text-center p-15">
        <h4>The requested page was not found</h4>
    </div>
</section>
