
<div id="commentModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 90px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="commentModalLabel">Add your comment here</h4>
            </div>
            <div class="modal-body color-two">
                    <form class="form-light" id="commentForm" action='@Url.Content("~/Page/SubmitComment")'>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <span data-bind="text:comment()" style="color:red"></span>
                                    <label>Comment</label>
                                    <textarea class="mceEditorComment" id="contentComment" placeholder="Write your comment here" rows="3" required data-bind="value:comment"></textarea>
                                </div>
                                <input type="hidden" value="@Model.ThreadId" id="commentThreadId" />
                                <input type="hidden" value="@Model.Responses" id="totalComments" />
                            </div>
                        </div>
                    </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-base btn-icon btn-send pull-right" type="submit">
                    <span data-bind='click:submitComment'>Send comment</span>
                </button>
            </div>
        </div>
    </div>
</div>