
<section class="slice bg-white">
    <div class="wp-section">
        <div class="container">
            <div class="row">
               @Html.Partial("Partial.SignUp")
               @Html.Partial("Partial.LogOn")
            </div>
        </div>
    </div>
</section>
